*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(233, 248, 252);
}

body,
body > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body > div {
  background-color: white;
}

#content {
  width: 900px;
}

header {
  display: flex;
  justify-content: space-between;

  width: 720px;
  padding: 24px 0 24px 12px;
}

nav {
  display: flex;
  gap: 8px;
  height: 50px;
}

nav > button {
  padding: 15px;
  background-color: orange;
}

.hero {
  display: flex;
  justify-content: center;
}

.hero-image {
  width: 800px;
}

.separator {
  background-color: orange;
  height: 40px;
  margin: 12px 24px;
  border-radius: 10px;
}

.restaurant-description {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 400px;
  width: 100%;
  text-align: center;
}
