@font-face {
  font-family: "rocksalt";
  src: url("./fonts/rocksalt-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

html {
  --accent-color: #ef7472;
  --main-page-width: 900px;
  --main-page-gap: 20px;
  --menu-card-height: 250px;

  background-color: rgb(233, 248, 252);
}

body,
.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-page {
  width: var(--main-page-width);
  background-color: white;
  gap: var(--main-page-gap);
}

header {
  display: flex;
  justify-content: space-between;

  width: 92%;
  margin-top: var(--main-page-gap);
}

h1 {
  display: flex;
  align-items: center;

  font-size: 2rem;
  text-align: center;
}

nav {
  display: flex;
  gap: 8px;
  height: 56px;
}

nav > button {
  padding: 15px;
  border-radius: 8px;
  background-color: var(--accent-color);
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--main-page-gap);

  width: 100%;
}

.hero-image {
  width: calc(var(--main-page-width) * 0.85);
}

.separator {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-color);
  height: 40px;
  margin: 0 24px;
  width: 95%;
  border-radius: 8px;
}

.restaurant-description {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 400px;
  width: 100%;
  text-align: center;
  font-family: "rocksalt";
  white-space: pre-line;
}

.restaurant-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  width: 100%;
  padding: 0 12px;
}

.card {
  height: var(--menu-card-height);
  text-align: center;
  border-radius: 25%;
  border: 2px solid black;
}

.card > img {
  margin-top: -15px;
  width: 65%;
}

.card-title {
  font-family: "rocksalt";
  margin-bottom: 4px;
}